/* style.css
-----------------------------------------------------
 *	THEME V.1.0
 *	Designed by Santo
 *	Website www.softwareseni.com
-------------------------------------------------- */

/* --------------------------------------------------
 * TYPOGRAPHY
-------------------------------------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html, body { 
	height:100%; 
}
body {
	background-color: #fafafa;
    color: #7a7c7f;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
    line-height: 1.42857;
    margin: 0;
}

/* HEADINGS */
h1, h2, h3 {
	font-weight: 300;
    line-height: 1.1;
    margin-bottom: 10px;
    margin-top: 20px;
}
h1 {
	font-size: 34px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 22px;
}

/* BODY COPY */
p {
	margin: 0 0 10px;
}

/* LINK */
a {
	color: #337ab7;
	text-decoration: none;
	-webkit-transition: ease .3s;
			transition: ease .3s;
}
a:hover,
a:focus {
	color: #23527c;
}
a:focus {
  outline: 0;
}

/* --------------------------------------------------
 * GRID SYSTEM
-------------------------------------------------- */
/* CONTAINER */
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
/* ROW */
.row {
	margin-right: -15px;
	margin-left: -15px;
}
/* COLUMN */
[class*="col-"] {
    position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
/* Column on Extra small devices  - Default */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-12 { width: 100%; }
.col-xs-11 { width: 91.66666667%; }
.col-xs-10{ width:83.33333333% }
.col-xs-9{ width:75% }
.col-xs-8{ width:66.66666667% }
.col-xs-7{ width:58.33333333% }
.col-xs-6{ width:50% }
.col-xs-5{ width:41.66666667% }
.col-xs-4{ width:33.33333333% }
.col-xs-3{ width:25% }
.col-xs-2{ width:16.66666667% }
.col-xs-1{ width:8.33333333% }
/* Column on Small devices */
@media (min-width: 768px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
	.col-sm-12{ width:100% }
	.col-sm-11{ width:91.66666667% }
	.col-sm-10{ width:83.33333333% }
	.col-sm-9{ width:75% }
	.col-sm-8{ width:66.66666667% }
	.col-sm-7{ width:58.33333333% }
	.col-sm-6{ width:50% }
	.col-sm-5{ width:41.66666667% }
	.col-sm-4{ width:33.33333333% }
	.col-sm-3{ width:25% }
	.col-sm-2{ width:16.66666667% }
	.col-sm-1{ width:8.33333333% }
}
/* Column on Medium devices */
@media (min-width: 992px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
	.col-md-12{width:100% }
	.col-md-11{ width:91.66666667% }
	.col-md-10{ width:83.33333333% }
	.col-md-9{ width:75% }
	.col-md-8{ width:66.66666667% }
	.col-md-7{ width:58.33333333% }
	.col-md-6{ width:50% }
	.col-md-5{ width:41.66666667% }
	.col-md-4{ width:33.33333333% }
	.col-md-3{ width:25% }
	.col-md-2{ width:16.66666667% }
	.col-md-1{ width:8.33333333% }
}
/* Column on Large devices */
@media (min-width: 1200px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
	.col-lg-12{ width:100% }
	.col-lg-11{ width:91.66666667% }
	.col-lg-10{ width:83.33333333% }
	.col-lg-9{ width:75% }
	.col-lg-8{ width:66.66666667% }
	.col-lg-7{ width:58.33333333% }
	.col-lg-6{ width:50% }
	.col-lg-5{ width:41.66666667% }
	.col-lg-4{ width:33.33333333% }
	.col-lg-3{ width:25% }
	.col-lg-2{ width:16.66666667% }
	.col-lg-1{ width:8.33333333% }
}

/* --------------------------------------------------
 * COMMON
-------------------------------------------------- */
/* HEADER */
.top-header ul,
.main-header ul,
.main-nav ul {
	padding-left: 0;
	margin: 0;
}
.top-header ul > li,
.main-header ul > li,
.main-nav ul > li {
	list-style: none;
	display: inline-block;
}
/* Top Header */
.top-header {
	background: #333;
	text-align: center;
	color: #fff;
	font-size :12px;
	padding: 3px;
}
.top-header ul li > a {
	padding: 3px 0;
	display: inline-block;
}
.top-header li:not(:last-child)::after {
	content: '/';
	margin: 0 5px 0 8px;
}
.top-header .breadcrumb a {
	color: #fff;
}
.top-header .sign a {
	color: #81d4fa;
}
@media (min-width:768px) {
	.top-header .breadcrumb {
		text-align: left;
	}
	.top-header .sign {
		text-align: right;
	}
}

/* MAIN HEADER */
.main-header {
	background: #3E6977;
	padding-bottom: 30px;
    padding-top: 30px;
}

.header-brand, .header-contact [class*="col-"] {
	margin-bottom:15px;
}

.header-brand {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 400;
	margin-top: 0;
}
.header-brand a {
	color: #fff;
}
.header-brand h1 {
    margin: 0;
	font-size: 40px;
}
.header-brand span {
	font-size: 20px;
}

.header-contact {
	color:#fff
}
.header-contact [class*="col-"]:last-child {
	margin-bottom:0;
}
.header-contact .media {
    float: none;
}
.header-contact .media-left .fa {
	color: #C5D2D6;
    font-size: 25px;
    margin: 0;
}
.header-contact .media-body > span {
    display: block;
}
.header-contact .media-body > span:first-child {
    font-size: 16px;
    font-weight: 500;
}
.header-contact .media-body > span:last-child {
    color: #81d4fa;
    font-size: 13px;
}
@media (min-width:768px) {
	.header-brand,
	.header-contact [class*="col-"] {
		margin-bottom:0
	}
	
	.header-contact .media {
		float: right;
	}
}

/* MAIN NAV */
.main-nav {
    background: #39616e;
}
.main-nav ul {
	margin: 0 -15px;
}
.main-nav ul li {
	display: block;
}
.main-nav li > a {
    color: #81d4fa;
    display: block;
    font-size: 12px;
    font-weight: 500;
    padding: 18px 15px;
    text-transform: uppercase;
}
.main-nav li > a::after {
	content: "\f0d7";
    font-family: FontAwesome;
	padding-left: 15px
}
.main-nav .active > a {
	color:#fff
}
.menu-toggle {
	display:block
}
@media (min-width: 768px) {
	.top-header .left,
	.main-header .left {
		float:left
	}
	.main-nav ul {
		margin: 0;
	}
	.main-nav ul li {
		display: inline-block;
	}
	.menu-toggle {
		display:none
	}
}

/* PARTNER LOGOS */
.partner-logos {
	background:url('../img/partner-logo.png');
}

.partner-logos ul {
	padding-left: 0;
	margin: 0;
}
.partner-logos li {
	list-style: none;
	display: inline-block;
}
.partner-logos img {
	display: block;
    height: auto;
    max-width: 100%;
    padding: 25px 0;
}
@media (max-width:767px){
	.partner-logos .col-xs-4:nth-child(3n+1) {
		clear: left;
	}
}
@media (min-width:992px){
	.partner-logos img {
		padding: 95px 23px;
	}
}

/* FOOTER */
.footer {
	background: #3E6977;
}
.footer h3 {
    border-bottom: 1px solid #658792;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.footer ul {
	padding-left: 0;
	margin: 0;
}
.footer li {
	list-style: none;
}
.footer,
.footer a {
	color: #fff
}
.footer-bottom {
	background: #385E6B;
	text-align: center;
	font-size:40px;
}

/* SIDEBAR */
.sidebar h3 {
    border-bottom: 1px solid #e0e0e0;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 15px;
}

/* --------------------------------------------------
 * COMPONENTS
-------------------------------------------------- */
/* MAIN CONTENT */
.main-content {
    padding-bottom: 5px;
    padding-top: 30px;
}

/* BOX */
.box {
	margin-bottom:30px
}
.wrapper {
	padding-top:60px;
	padding-bottom:60px;
}

/* IMAGE RESPONSIVE + RATIO */
.img-responsive img {
	height: auto;
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	width: 100%;
}

/* VIDEO RESPONSIVE */
.video-responsive > iframe {
	border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* FOOTER */
@media (max-width:991px) {
	.footer .box:nth-child(2n+1) {
		clear: left;
	}
}

/* FOOTER - RECENT */
.listing .media {
	border-bottom: 1px solid #658792;
    padding-bottom: 14px;
}
.listing .media:last-child {
	border-bottom: 0 !important;
}
.listing .media-left img {
	border-radius:5px;
}
.listing span {
    display: block;
}
.listing span:nth-child(2) {
	color: #b1c3c8;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

/* FOOTER - QUICK LINKS */
.quick-links a {
    display: block;
    padding: 5px 0;
}

/* FOOTER - OUR AGENTS */
.our-agents .media-left img {
	border-radius:50%;
}
.our-agents span {
    display: block;
}
.our-agents span:nth-child(2) {
    font-size: 12px;
}
.our-agents .media-body {
    border-bottom: 1px solid #658792;
	padding-bottom: 14px;
    width: 100%;
}
.our-agents .media:last-child .media-body {
    border-bottom: 0;
}
.our-agents .media-body {
    width: 100%;
}

/* MAIN */
.main .heading-wrapper {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

/* LIST VIEW */
.list-view {
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
	margin-bottom: 30px !important;
}
.list-view .media-left img {
    max-width: 250px;
}
	
	
/* Pagination */
.pagination {
    text-align: center;
	padding-left: 0
}
.pagination > li {
    display: inline;
}
.pagination li a {
	background-color: transparent;
	border: 0px;
	border-top: 3px solid #E0E0E0;
	color: #616161;
	font-size: 15px;
	padding: 14px 18px;
	transition: all .15s linear; }
	.pagination li a:hover {
	color: #616161;
}
.pagination .active a {
    border-color: #ec407a !important;
}

/* ARCHIVE */
.list-view .item-heading {
	border-bottom: 1px solid #e7e7e7;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.list-view .item-heading h2 {
    color: #42425F;
    font-size: 20px;
	font-weight: 400;
}
.list-view .item-include {
	background:#f5f5f5;
	margin-left: -15px;
}
.list-view .item-include span {
	padding:15px
}


.heading-wrapper {
    display: table;
    width: 100%;
}
.heading-title, .results-view {
	display: block;
	text-align:center;
}
.heading-title {
    margin-top: 0;
    vertical-align: bottom;
}
.results-view {
    vertical-align: bottom;
}
.results-view > .grid, .results-view > .list {
    display: inline-block;
}
.results-view > .grid {
    margin-right: 10px;
}
.results-view .fa {
	display: table-cell;
    text-align: right;
    vertical-align: bottom;
    color: #3e6977;
    font-size: 20px;
}
@media (min-width:768px){
	.heading-title {
		display: table-cell;
		text-align:left;
	}
	.results-view {
		display: table-cell;
		text-align: right;
	}
}

/* SIDEBAR */
.sidebar > .our-agents {
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
	margin-bottom: 15px;
	padding: 16px;
}
.sidebar > .our-agents .media-body,
.sidebar > .listing .media {
    border-bottom: 1px solid #e0e0e0;
}

/* FOOTER - CONTACT */
.contact .media-left > .fa {
    margin-right: 10px;
}
.contact .socmed li {
	display:inline-block
}
.footer .contact .socmed a {
    background: #5B7F8B;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: block;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width: 38px;
}
.contact .socmed li:not(:last-child) a {
    margin-right: 10px;
}

/* MEDIA */
.media {
    margin-bottom: 15px;
}
.media:last-child {
    margin-bottom: 0;
}
.media-left, .media-body {
    display: table-cell;
    vertical-align: top;
}
.media-left {
    padding-right: 15px;
}
.media-left img {
    display: block;
    max-width: 50px;
}

/* --------------------------------------------------
 * MERGE
-------------------------------------------------- */
/* CLEAR */
.container:before, .container:after, .row:before, .row:after, .nav:before, .nav:after {
	display: table;
	content: " ";
}
.container:after, .row:after, .nav:after {
	clear: both;
}

/* RESPONSIVE MEDIA */
.img-responsive, .video-responsive {
    border-radius: 5px;
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
}

/* --------------------------------------------------
 * MEDIA QUERIES
-------------------------------------------------- */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	/* Grid System */
	.container {
		width: 750px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	/* Grid System */
	.container {
		width: 970px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}



.property-row {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  display: table;
  margin-bottom: 30px;
  width: 100%; }

.property-row-image {
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.15);
  display: table-cell;
  height: auto;
  position: relative;
  width: 262px; }
  .property-row-image:after {
    background-color: black;
    background-image: url('../img/magnifier.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    content: '';
    display: table-cell;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0px;
    transition: opacity .15s linear;
    vertical-align: middle;
    width: 100%;
    z-index: 11; }
  .property-row-image:hover:after {
    opacity: .5; }
  .property-row-image:before {
    color: rgba(0, 0, 0, 0.2);
    content: '\f015';
    display: block;
    font-family: 'FontAwesome';
    font-size: 40px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    z-index: 0; }
    .footer .property-row-image:before {
      color: #29B6F6; }
  .property-row-image img {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 10; }
  @media (max-width: 991px) {
    .property-row-image {
      display: block !important;
      float: none;
      width: 100%; }
      .property-row-image img {
        height: auto;
        position: relative; } }

.property-row-content {
  display: table-cell;
  padding: 0px 30px 50px 30px;
  position: relative;
  vertical-align: top; }
  @media (max-width: 991px) {
    .property-row-content {
      display: block; } }

.property-row-body {
  color: #616161; }

.property-row-title {
  color: #424242;
  margin-bottom: 0px; }
  .property-row-title a {
    color: #424242; }

.property-row-title-actions {
  float: right;
  font-size: 15px; }
  .property-row-title-actions > span {
    display: inline-block;
    margin-left: 10px; }
  .property-row-title-actions a {
    color: #BDBDBD;
    cursor: pointer; }
    .property-row-title-actions a:hover {
      color: #EC407A; }

.property-row-location {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  color: #9E9E9E;
  display: block;
  font-size: 11px;
  font-weight: 500;
  list-style: none;
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 10px 0px;
  text-transform: uppercase; }
  .property-row-location li {
    display: inline; }

.property-row-meta {
  background-color: #F5F5F5;
  border-top: 1px solid #E0E0E0;
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .property-row-meta {
      bottom: -50px;
      left: -45px;
      margin-left: 15px;
      margin-right: -75px;
      position: relative;
      right: auto;
      top: auto; } }
  @media (max-width: 767px) {
    .property-row-meta {
      bottom: -50px;
      left: -45px;
      margin-left: 15px;
      margin-right: -75px;
      position: relative;
      right: auto;
      top: auto; } }

.property-row-meta-item {
  border-right: 1px solid #E0E0E0;
  float: left;
  font-size: 12px;
  padding: 6px 20px; }
  @media (max-width: 767px) {
    .property-row-meta-item {
      font-size: 10px; } }
  .property-row-meta-item span {
    margin: 0px 5px 0px 0px; }
  .property-row-meta-item strong {
    font-weight: 500; }
  .property-row-meta-item:last-child {
    border-right: 0px; }

	
/* Table */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
  border-spacing: 0;
  border-collapse: collapse;
}
.table-responsive {
   min-height: .01%;
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
	vertical-align: bottom;
	background:#3E6977;
	color:#fff;
	text-align:left;
	font-weight:500;
}

.property-box-image {
    position: relative;
}

.property-box-simple {
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
	margin-bottom: 30px;
}
.property-box-simple:hover .property-box-simple-actions {
	top: 0px;
}
.property-box-simple:hover .property-box-simple-header {
	background-color: #29B6F6;
}
.property-box-simple:hover .property-box-simple-header h2 a {
	color: #fff;
}
.property-box-simple:hover .property-box-simple-header h3 {
	color: #E1F5FE;
}

.property-box-simple-meta {
	padding: 16px 30px;
}
.property-box-simple-meta ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.property-box-simple-meta li {
	display: block;
	font-size: 12px;
	line-height: 28px;
	margin: 0px;
	overflow: hidden; }
	.property-box-simple-meta span {
	color: #757575; }
	.property-box-simple-meta strong {
	color: #424242;
	float: right;
}

.property-box-simple-header {
	background-color: #EEEEEE;
	padding: 16px 30px;
	position: relative;
	transition: color .15s linear; }
	.property-box-simple-header h2, .property-box-simple-header h3 {
	line-height: 1.4;
	margin: 0px;
	padding: 0px; }
	.property-box-simple-header h2 {
	color: #616161;
	display: block;
	font-size: 18px;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: color .15s linear;
	white-space: nowrap; }
	.property-box-simple-header h2 a {
	color: #616161;
	transition: color .15s linear; }
	.property-box-simple-header h3 {
	color: #9E9E9E;
	font-size: 15px;
	font-weight: 500;
	margin-top: 10px;
	transition: color .15s linear;
}

.property-box-simple-header-thumbnail {
	border: 3px solid #fff;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	right: 30px;
	top: -18px;
	transition: border-color .15s linear;
	z-index: 3;
}
.property-box-simple-header-thumbnail img {
	height: 36px;
	width: 36px;
}
.property-box-simple-header-thumbnail:hover {
	border-color: #EC407A;
}

.property-box-simple-image-inner img {
	position: relative;
	z-index: 2;
}

.property-box-simple-actions {
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
	line-height: 18px;
	left: 0px;
	padding: 10px 16px;
	position: absolute;
	right: 0px;
	top: -43px;
	transition: top .15s linear;
	z-index: 100; }
	.property-box-simple-actions span {
	color: #757575;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase; }
	.property-box-simple-actions a {
	color: #9E9E9E;
	cursor: pointer; }
	.property-box-simple-actions a:hover {
	color: #E91E63; }
	.property-box-simple-actions .fa {
	font-size: 14px;
	float: right;
	margin-left: 20px;
	margin-top: 3px;
}


.property-box-image img {
	height: auto;
	width: 100%;
	display:block;	}
	.property-box-image:hover .property-box-image-inner.has-agent {
	-webkit-transform: translateY(-50px) scale(.6);
	transform: translateY(-30px) scale(.6);
}
	
	
.property-badge {
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
	color: #757575;
	display: block;
	font-size: 11px;
	font-weight: 600;
	left: 12px;
	line-height: 1;
	padding: 7px 12px;
	position: absolute;
	text-transform: uppercase;
	top: 12px;
	z-index: 3; }
	.property-badge-sticky {
	background-color: #D81B60;
	color: #fff;
	left: auto;
	right: 12px;
}